.App {
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  background-image:url(./back.jpeg);
    
  /* Set up positioning */
  /* position: fixed; */
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  color: #e8b923;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  vertical-align:top;
}
.title{
  margin-bottom: .5em;
  font-size: 40px;
  color: #e8b923;
}
.sub-title{
  font-size: 30px;
  margin-bottom: 1em;
}
.container{
  color: #e8b923;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  width: 100%;
  /* min-width: 1000px; */
  max-height: 1000px;
}
.tier-row-odd{
  background-color: grey;
  display: grid;
  grid-template-columns: 90px auto;
  grid-template-rows: auto;
  border-style: solid;
  border-width: 1px;
}
.tier-row-even{
  background-color: #A9A9A9;
  display: grid;
  grid-template-columns: 90px auto;
  grid-template-rows: auto;
  border-style: solid;
  border-width: 1px;
}
.tier{
  text-align: center;
  margin: 0px;
  padding: 1em;
  border-right: 1px solid;
  font-size: 24px;
  font-weight: bold;
}
.tier-bench{
  text-align: center;
  margin: 0px;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  border-right: 1px solid;
  font-size: 20px;
  font-weight: bold;
}
.tier-list{
  text-align: start;
  padding: 0.25em;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.card {
  float: left;
  margin: 10px;
  width: 6rem;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
  background-color: white;
  word-wrap: break-word;
  overflow: hidden;
  padding: .1%;
}
.card:hover{
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

@media (min-width: 950px) {
  .container {
    max-width: 900px;
  }
  .tier-row-odd{
    background-color: rgb(156, 30, 30);
  }
  .App {
    min-width: 100%;
  }
} 
@media (max-width: 960px) {
  .container {
    max-width: 700px;
  }
  .tier-row-odd{
    background-color: rgb(105, 52, 52);
  }
} 
@media (max-width: 900px) {
  .container {
    max-width: 500px;
  }
  .tier-row-odd{
    background-color: rgb(105, 52, 52);
  }
} 
@media (max-width: 800px) {
	.container {
    max-width: 400px;
  }
  .tier-row-odd{
    background-color: rgb(172, 141, 141);
  }
}
