@import url(https://fonts.googleapis.com/css?family=Lato);

html, body {
  font-family: Lato, Arial, sans-serif;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

#left, #right {
  margin-top: 20px;
  padding-top: 20px;
  background-color : #E8615F;
  min-height: 6000px;
  
  border-radius: 3px;
}

#left {
  width: 49%;
  float: left;
}

#right {
  width: 49%;
  float: right;
}

.card {
  background-color: #fff;
  margin: 7px;
  border-radius: 5px;
  
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
}

.card:hover {
  cursor: pointer;
}

.card-header {
  padding: 5px 0 0 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 10px 0 10px 5px;
}